{% extends 'base.html' %} {% block content %}
<div class="container-xxl">
  <div id="mainDataSetList">
    <table id="dataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Date
                </th>
                <th>Target Time</th>
                <th>Achieved Time</th>
                <th>Subjects Read</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody id="dataTableBody"></tbody>
    </table>
  </div>
</div>
{% endblock %}
